*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@media (min-width:1000px) and (max-width:1400px) {
    .content{
        height: 50vh;
        width: 100%;
        display: flex;
    }
    .box1{
        height: fit-content;
        width: 50%;
    }
    .box2{
        height: 89%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}



@media (min-width:840px) and (max-width:1000px) {
    .content{
        height: 70%;
        width: 100%;
    }
}

@media (min-width:450px) and (max-width:700px)     {
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box1{
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .box2{
        height: fit-content;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }
}




@media (min-width:700px) and (max-width:1000px){
    .content{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box1{
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }
    .box1 h1{
            font-size: 4vh;
    }
    .box2{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0
    }
    .image{
        height: 80%;
        width: 70%;
    }
}



@media (min-width:600px) and (max-width:700px){
    .content{
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
    }
    .box1{
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0;
    }
    .box1 h1{
        font-size: 5vh;
    }
    .box1 p{
        font-size: 2vh;
    }



    .box2{
        height: 40vh;
        width: 100%;
        position: relative;
        padding: 50px 0 0;
    }

    .image{
        height: 100%;
        width: 80%;
        background-position: center;
        background-size: contain;
        
    }
}



@media (min-width:500px) and (max-width:600px){
    .content{
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
    }
    .box1{
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0;
    }
    .box1 h1{
        font-size: 5vh;
    }
    .box1 p{
        font-size: 1.5vh;
    }



    .box2{
        height: 40vh;
        width: 100%;
        position: relative;
        padding: 50px 0 0;
    }

    .image{
        height: 100%;
        width: 80%;
        background-position: center;
        background-size: contain;
        
    }
}



@media (min-width:400px) and (max-width:500px){
    .content{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .box1{
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }
    .box1 h1{
        font-size: 4vh;
    }
    .box1 p{
        font-size: 1.5vh;
    }



    .box2{
        height: 50%;
        width: 100%;
        padding: 0px 0 0 20px;
        position: relative;
    }

    .image{
        height: 80vw;
        width: 60vw;
        background-position: center;
        background-size: contain;
        
    }
}



@media (min-width:300px) and (max-width:400px){
    .content{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .box1{
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0;
    }
    .box1 h1{
        font-size: 5vh;
    }
    .box1 p{
        font-size: 1.5vh;
    }



    .box2{
        height: 50vh;
        width: 100%;
        position: relative;
        padding: 20px 0 0 0;
    }

    .image{
        height: 100%;
        width: 80%;
        background-position: center;
        background-size: contain;
        
    }
}